            <div class="form-row">
              <!--First Name-->
              <div class="form-group col-md-3">
                <label class="form-label" for="first_name">First Name</label>
                <input type="text" class="form-control" name="first_name" id="first_name" maxlength="35" placeholder="First Name" required>
                <p class="text-right feedback" id="feedback_first_name">35 characters remain</p>
              </div>
              <!--Middle-->
              <div class="form-group col-md-2">
                <label class="form-label" for="middle_name">Middle</label>
                <input type="text" class="form-control" name="middle_name" id="middle_name" maxlength="25" placeholder="Middle" value="">
                <p class="text-right feedback" id="feedback_middle_name">25 characters remain</p>
              </div>
              <!--Last Name-->
              <div class="form-group col-md-5">
                <label class="form-label" for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="last_name" maxlength="60" placeholder="Last Name" required>
                <p class="text-right feedback" id="feedback_last_name">60 characters remain</p>
              </div>
              <!--Suffix-->
              <div class="form-group col-md-2">
                <label class="form-label" for="name_suffix">Suffix</label>
                <select class="form-control" name="name_suffix" id="name_suffix">
                  <option disabled selected value>-- Select Suffix --</option>
                  <option>Sr.</option>
                  <option>Jr.</option>
                  <option>I</option>
                  <option>II</option>
                  <option>III</option>
                  <option>IV</option>
                  <option>M.D.</option>
                  <option>PhD</option>
                </select>
              </div>
            </div>
