            <div class="form-row">
              <!--Contact Notes-->
              <div class="form-group col-md-12">
                <label class="form-label" for="remarks">Notes / Remarks</label>
                <textarea class="form-control" name="remarks" id="remarks" maxlength="4000" placeholder="Notes and Comments"
                  rows="3"></textarea>
                <p class="text-right feedback" id="feedback_remarks">4000 characters remain</p>
              </div>
            </div>
