    <!--The Nav Bar - navbar-light bg-light is white background, black letters-->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="#"><img class="img-responsive" src="/assets/images/logo2.png" alt="logo_small"
          height="50"></a>
      <a class="navbar-brand" href="#"><img class="img-responsive" src="/assets/images/slogan.png" alt="logo_small"
          height="35"></a>

      <!--The Hamburger-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbarNavDropdown" class="navbar-collapse collapse mt-0 mb-1">
        <!--some navigation items on the left **Note! text-right in the hamburger-->
        <ul class="navbar-nav mr-auto text-right">
          <!--HOME-->
          <li class="nav-item active">
            <a class="nav-link" href="home.html">
              <span class="bar">|&emsp;</span>Home <span class="sr-only">(current)</span></a>
          </li>
          <!--IMPORT-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="bar">|&emsp;</span>Process #1
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Drop Down Menu Item #1</a></li>
              <li><a class="dropdown-item" href="#">Drop Down Menu Item #2</a></li>
            </ul>
          </li>
          <!--Electronic Notification Bounces-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="bar">|&emsp;</span>Process #2
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Drop Down Menu Item #1</a></li>
              <li><a class="dropdown-item" href="#">Drop Down Menu Item #2</a></li>
            </ul>
          </li>
          <!--Reports-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="bar">|&emsp;</span>Custom Reports
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Report #1</a></li>
              <li><a class="dropdown-item" href="#">Report #2</a></li>
              <li><a class="dropdown-item" href="#">Report #3</a></li>
              <li><a class="dropdown-item" href="#">Report #4</a></li>
              <li><a class="dropdown-item" href="#">Report #5</a></li>
            </ul>
          </li>
        </ul>




        <!--some navigation items on the right-->
        <ul class="navbar-nav text-right">

          <!--ORGANIZATIONS-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Tasks #1
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Task #1</a></li>
            </ul>
          </li>

          <!--CONTACTS-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="bar">|&emsp;</span>Tasks #2
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Dropdown Task #1</a></li>
              <li><a class="dropdown-item" href="#">Dropdown Task #2</a></li>
              <li><a class="dropdown-item" href="#">Dropdown Task #3</a></li>
            </ul>
          </li>

          <!--REPORTS-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="bar">|&emsp;</span>Double-Drop
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Menu 1</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 1-1</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">submenu 1-1, Item 1</a></li>
                      <li><a class="dropdown-item" href="#">submenu 1-1, Item 2</a></li>
                      <li><a class="dropdown-item" href="#">submenu 1-1, Item 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 1-2</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">submenu 1-2, Item 1</a></li>
                      <li><a class="dropdown-item" href="#">submenu 1-2, Item 2</a></li>
                      <li><a class="dropdown-item" href="#">submenu 1-2, Item 3</a></li>
                    </ul>
                  </li>
                  <!--Future Use, for situation where Submenu isn't required
                  <li><a class="dropdown-item" href="#">No Submenu #1</a></li>
                  <li><a class="dropdown-item" href="#">No Submenu #2</a></li>
                  -->
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Menu 2</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 2-1</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">submenu 2-1, Item 1</a></li>
                      <li><a class="dropdown-item" href="#">submenu 2-1, Item 2</a></li>
                      <li><a class="dropdown-item" href="#">submenu 2-1, Item 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 2-2</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">submenu 2-2, Item 1</a></li>
                      <li><a class="dropdown-item" href="#">submenu 2-2, Item 2</a></li>
                      <li><a class="dropdown-item" href="#">'submenu 2-2, Item 3</a></li>
                    </ul>
                  </li>
                  <!--Future Use, for situation where Submenu isn't required
                  <li><a class="dropdown-item" href="#">No Submenu #1</a></li>
                  <li><a class="dropdown-item" href="#">No Submenu #2</a></li>
                  -->
                </ul>
              </li>
              <!--For future use where submenu is not required
              <li><a class="dropdown-item" href="#">No Submenu #1</a></li>
              <li><a class="dropdown-item" href="#">No Submenu #2</a></li>
              -->
            </ul>
          </li>

          <!--ADMINISTRATION-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="bar">|&emsp;</span>Administration
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Change My Password</a>
              <a class="dropdown-item" href="#">User Manager</a>
              <a class="dropdown-item" href="#">User Roles</a>
              <a class="dropdown-item" href="#">Select Lists</a>
            </div>
          </li>

          <!--HOME-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuHome" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="bar">|&emsp;</span>Home
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="home.html">Home</a>
              <a class="dropdown-item" href="index.html">Login</a>
              <a class="dropdown-item" href="logout.html">Logout</a>
            </div>
          </li>

          <!--CLOSE NAV-->

        </ul>
      </div>
    </nav>
