<!--
     ("`-''-/").___..--''"`-._
     `6_ 6  )   `-.  (     ).`-.__.`)
     (_Y_.)'  ._   )  `._ `. ``-..-'
   _..`--'_..-_/  /--'_.' ,'  Kool Skool Tool! - UCSD Bootcamp Team Project #2
  (il),-''  (li),'  ((!.-'    Sue J. Stevens <StevensStock@gmail.com>
-->

    <div class="jumbotron m-0 errorpage" id="jumbotron_img">
      <div class="container-fluid text-center errorpage">
        <h1 class="display-1 my-5 errorpage d-none d-md-block">Oh no, You've found our junior developer's homepage!</h1>
        <h1 class="display-2 my-2 errorpage d-md-none">Oh no, You've found our junior developer's homepage!</h1>
        <h1 class="display-3 errorpage"><img class="img-fluid" src="/assets/images/error-404.png"></h1>
        <h1 class="display-4 m-2 errorpage">Lets get you back <a href="/">
            <button type="button" id="btnHome" class="btn btn-outline-secondary btn-outline-home" data-toggle="tooltip" data-placement="right" title="Click to return to home or login page.">
              <i class="fas fa-house-damage display-4"></i>
            </button>
          </a> safely.</h1>
      </div>
    </div>
