  <main>

    <!--Use Bootstrap's grid system inside the main area of the page-->
    <div class="container">
      <!--1st row holds the logo and application name-->
      <div class="row">
        <div class="col-12">
          <div class="text-center mb-4">
            <img class="mb-4" src="/assets/images/logo1.png" alt="logo">
            <h3>{{msg}}</h3>
          </div>
        </div>
      </div>

    </div>
    <!--Close Container-->

  </main>