<main>

  <div class="container-fluid personnel-container col-md-9 align-self-start">

    <!--Personnel Data Entry Form Wrapper-->
    <div class="mx-5 mt-3">
      <h3>Parent Dashboard</h3>
      <hr>
    </div>

    <!--Student Information-->
    <div class="row">
      <div class="col-md-6 float-center"></div>
      <div class="card">
        <img class="card-img-top img-responsive" src="http://www.calendarpedia.com/images/months/2018/december-2018-calendar.png" alt="Student Att">
        <div class="card-body">
          <p class="card-text">This will eventually show student attendence data</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>

<!--Our Local js file-->
<script src="/assets/js/personnel.js" type="text/javascript"></script>