@import url('https://fonts.googleapis.com/css?family=Abel|Barlow|Barlow+Condensed|Barlow+Semi+Condensed|Lato|Roboto|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Monoton');
*{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: #071629;
}

.bg-light {
    background-color: white!important;
}

.nav-item {
    font-weight: 400;
}

#copyright {
    font-weight: 300;
}

.bar {
    color: #174A8C;
}


/* Table styles
-------------------------------------------------- */
.caption-side-top {
    caption-side: top;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }

  #footer {
    padding-bottom: 30px;
    background-color: transparent;
    border-top-color: #174A8C;
    border-top-style: solid;
    border-top-width: 0.5px;
}

  .footer {
    background-color: transparent;
    border-top-color: #174A8C;
    border-top-style: solid;
    border-top-width: 0.5px;
  }

  .card-header {
    font-family: 'Barlow+Semi+Condensed', sans-serif;
  }
  
  .form-label {
    font-size: .90rem;
    margin-bottom: .05rem;
}

.feedback {
    font-family: 'Barlow+Condensed', sans-serif;
    font-size: .80rem;
    margin-bottom: .05rem;
}

/* Error 404 page style
-------------------------------------------------- */
#jumbotron_img {
    border-bottom: solid;
    border-color: #1F2936;
    background: #fff url("/assets/images/4-computer-cat.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 85%;
    width: 100%;
    opacity: 100%;
  }

  #jumbotron_img1 {
    border-bottom: solid;
    border-color: #1F2936;
    background: #fff url("/assets/images/work-in-progress.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 100%;
  }

  .errorpage {
    font-family: 'Abel';
  }

  .display-1 {
    font-size: 3rem;
    color: #ccccdd;
  }

  .display-4 {
    font-size: 2rem;
    color: black;
  }

  .btn-outline-home {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
  }
  
  #btnHome {
    border: none;
    background-color: transparent;
    outline: none;
    outline-color: transparent;
    
  
  }
  #btnHome:active {
    outline: none!important;
    border: none;
    outline-color: transparent;
    }
    
  #btnHome:focus { 
    outline:none !important; 
    text-decoration: none;
    border: none;
    box-shadow: none;
  }
