@import url('https://fonts.googleapis.com/css?family=Abel|Barlow|Barlow+Condensed|Barlow+Semi+Condensed|Lato|Roboto|Roboto+Condensed');
*{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: #071629;
}

.bg-light {
    background-color: white!important;
}

.nav-item {
    font-weight: 400;
}

#copyright {
    font-weight: 300;
}

.bar {
    color: #174A8C;
}


/* Table styles
-------------------------------------------------- */
.caption-side-top {
    caption-side: top;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }

  #footer {
    padding-bottom: 30px;
    background-color: transparent;
    border-top-color: #174A8C;
    border-top-style: solid;
    border-top-width: 0.5px;
}

  .footer {
    background-color: transparent;
    border-top-color: #174A8C;
    border-top-style: solid;
    border-top-width: 0.5px;
  }

  .card-header {
    font-family: 'Barlow+Semi+Condensed', sans-serif;
  }
  
  .form-label {
    font-size: .90rem;
    margin-bottom: .05rem;
}

.feedback {
    font-family: 'Barlow+Condensed', sans-serif;
    font-size: .80rem;
    margin-bottom: .05rem;
}
  